<p>
  Mustaches can call functions: {{ getName() }}
</p>

<nav [textContent]="'Waouwww'">Hello</nav>

<nav [textContent]="getContent()"></nav>

<ul> Users:
  <li *ngFor="let u of users">{{u}}</li>
</ul>

<div *ngIf="users.length > 3">
  There is a lot of users
</div>

<!-- Condition() is a function call -->
<div *ngIf="condition()">
  There is a lot of users !
</div>

<div class="impressive">This is an impressive DIV!</div>

<div [className]="getImpressiveStyle()">This is an impressive DIV!</div>

<div [ngClass]="{banana:users.length>3}">This is also an impressive DIV!</div>

<!-- We can declare a variable on a component -->

<div #friend>Hello my friend</div>

<div>The content was: {{friend.textContent}}</div>

<input type="text" value="I am a data" #myInput>

<div>Value is: {{myInput.value}}</div>

<!-- () are events ; Events will recompile all the pseudo-HTML -->

<button (click)="clearUsers()">Delete People</button>





